body .row > * {
	padding: 0;
	height: 100vh;
}

#leafletMap {
	height: 100vh;
}

.menu {
	height: 50px;
	width: 50px;

	position: absolute;
	bottom: 20px;
	right: 20px;
	cursor: pointer;

	border: 1px solid rgba(0, 0, 0, 0.35);
	border-radius: 50%;
	box-shadow: 2px 2px 4px #c3c3c3;
}

.hamburger-line {
	width: 60%;
	display: block;
	padding: 2px;
	margin: 5px;

	top: 8px;
	position: relative;
	left: 4px;

	background: rgba(0, 0, 0, 0.75);
	border-radius: 25%;
}

